@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {

 /* ----------------- THEME 1  -----------------  */

  --very-dark-blue: hsl(224, 36%, 15%);
  --keypad-bg: hsl(223, 31%, 20%);
  --dark-blue: hsl(222, 26%, 31%);
  --light-red: hsl(6, 70%, 65%);
  --t1-red: hsl(6, 63%, 50%);
  --dark-red: hsl(6, 70%, 34%);
  --light-grayish-orange: hsl(30, 25%, 89%);
  --grayish-orange: hsl(28, 16%, 65%);
  --t1-text-dark-blue: hsl(221, 14%, 31%);
  --white: hsl(0, 0%, 100%);

/* ----------------- THEME 2  -----------------  */
/* Backgrounds */

--light-gray: hsl(0, 0%, 90%);
--grayish-red: hsl(0, 5%, 81%);
--very-light-gray: hsl(0, 0%, 93%);

/* Keys */
--dark-moderate-cyan: hsl(185, 42%, 37%); /* (key background) */
--very-dark-cyan : hsl(185, 58%, 25%); /* (key shadow) */
--orange: hsl(25, 98%, 40%) /* (key background, toggle) */
--dark-orange: hsl(25, 99%, 27%) /* (key shadow) */
--light-grayish-yellow: hsl(45, 7%, 89%); /* (key background) */
--dark-grayish-orange: hsl(35, 11%, 61%); /* (key shadow) */

/* Text */
--very-dark-grayish-yellow: hsl(60, 10%, 19%);

/* -----------------  THEME 3 -----------------  */
/* Backgrounds */
--very-dark-violet: hsl(268, 75%, 9%); /* (main background) */
--very-dark-violet2: hsl(268, 71%, 12%) /* (toggle background, keypad background, screen background) */

/* Keys */

--dark-violet: hsl(281, 89%, 26%); /* (key background) */
--vivid-magenta: hsl(285, 91%, 52%); /* (key shadow) */
--pure-cyan: hsl(176, 100%, 44%); /* (key background, toggle) */
--soft-cyan: hsl(177, 92%, 70%); /* (key shadow) */
--very-dark-violet3: hsl(268, 47%, 21%); /* (key background) */
--dark-magenta: hsl(290, 70%, 36%); /* (key shadow) */

/* Text */ 

--light-yellow: hsl(52, 100%, 62%); 
--very-dark-blue2: hsl(198, 20%, 13%);

/* Fonts */
  --main-font: 'League Spartan'

}

*  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font), sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--dark-blue);
}


.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.r0 {
  right: 0;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.calculator {
  display: grid;
  grid-template-rows: 70px 100px 1fr;
  height: 600px;
  width: 500px;
}

.display {
  position: relative;
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: end;
  align-items: center;
  color: var(--white);
  border-radius: 10px;
  margin: 0.5rem;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background-color: var(--keypad-bg);
  border-radius: 10px;
  margin: 0.5rem;
}

.main-button {
  width: 100%;
  cursor: pointer;
  border: none;
  background-color: var(--light-grayish-orange);
  color: var(--t1-text-dark-blue);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
  border-radius: 10px;
}

.equal-button {
  background-color: var(--t1-red);
  color: var(--white);
}

.equal-button:active {
  background-color: var(--light-red);
}

.half-width-button{
  grid-column: span 2;
}

.debug-border {
  border: 1px solid greenyellow;
}

.p1 {
  padding: 1rem;
}

.w-100 {
  width: 100%;
}

.hm1 {
  margin: 0 1rem;
}

#recap {
  position: absolute;
  top: 15px;
  left: 20px;
}

.switchTheme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.themeSelector {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 12px;
  height: 12px;
  background-color: var(--t1-red);
  border-radius: 50%;
  transition: 0.45s ease-in-out;
  cursor: pointer;
}

.themeSelector:hover {
  background-color: var(--light-red);
}

.switchBox {
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-color: var(--keypad-bg);
}

.numberBox {
  width: 18px;
  height: 18px;
  font-size: 10px;
}

.leftRounded {
  border-radius: 25px 0 0 25px;
}

.rightRounded {
  border-radius: 0 25px 25px 0;
}